.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

nav {
  box-shadow: none;
  z-index: 20;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

nav li {
  flex: auto;
}

a {
  color: #a6a6a6;
}

.nav-logo {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler-icon {
  color: #a6a6a6;
  font-size: 24px;
  height: auto;
}

.nav-link {
  letter-spacing: 1px;
  font-weight: 200;
  padding-left: 14px !important;
}

.active > a,
a:hover,
.active > a:focus {
  color: grey !important;
  font-weight: 800;
}
