.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  border-bottom: 3px solid rgba(0,0,0,0.025);
}

nav {
  /* background: #1a1a1a !important; */
  background: white !important;
  box-shadow: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

nav li {
  flex: auto;
}

a {
  color: rgba(0,0,0,0.2) !important;
}

.nav-item.active a {
  background: none !important;
}

.nav-logo {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler-icon {
  color: rgba(0,0,0,.5) !important;
  font-size: 24px;
  height: auto;
}

.nav-link {
  letter-spacing: 1px;
  font-weight: 200;
  padding-left: 14px !important;
}

.active > a,
a:hover,
.active > a:focus {
  color: #355E3B !important;
  z-index: 20;
}
