<footer id="footer">
  <div class="icon-bar">
    <a href="https://www.facebook.com/PhiKappaPsiUCI/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/uciphipsi/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/phipsiucirvine" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/phi-kappa-psi-fraternity/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-label">
    <p>&#9400; 2019 Phi Kappa Psi Fraternity&ensp;|&ensp;</p>
    <p>Designed by Kevin Norgaard</p>
  </div>
</footer>
