.wrapper {
  width: 100%;
}

b {
  color: green;
}

a {
  color: rgb(206, 53, 97);
}

li {
  margin-bottom: 10px;
}

.fa {
  -webkit-text-stroke-width: 0.1vw;
  font-size: 5vw;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.025) !important;
  padding: 10px;
}

.description {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 20px;
}
