<div class="wrapper">
  <div>
    <h2 class="sticky-container-title">Chapter Scholarships</h2>
    <div class="section">
      <div class="description">
        <p>$5000 in scholarship funds is invested annually into the academic success of our new members.</p>
        <ul><li>Outstanding Freshman Scholarship [Coming in fall]</li></ul>
      </div>
    </div>
  </div>
  <div>
    <h2 class="sticky-container-title">National Scholarships</h2>
    <div class="section">
      <div class="description">
        <p>The Phi Kappa Psi Foundation provides national scholarships to 5,740 undergraduates across the nation. It recognizes excellence in academics, chapter leadership, campus involvement, and more. You can apply for national scholarships on the
        <a href="https://www.pkpfoundation.org/national-scholarships/" target="_blank">national website</a>.</p>
        <ul>
          <li>Ralph “Dud” Daniel Leadership Award - $4,000 (1)</li>
          <li>Ernest H. Garbe Award - $2,500 (1)</li>
          <li>Schroeder Family Finance Award - $1,000 (1)</li>
          <li>Solon E. Summerfield Award Program - $10,000 (1), $5,000 (2), $2,500 (4)</li>
          <li>Founders Graduate Awards - $4,000 (4)</li>
          <li>Winston R. “Win” Tate Awards - $2,500 (2)</li>
          <li>Watkins Christian Scholar Award - $2,500 (1)</li>
          <li>Philip M. Cornelius Award - $1,750</li>
          <li>William H. Blanning Graduate Awards - $4,000 (2)</li>
          <li>Ruddick C. Lawrence Award - $2,500 (1)</li>
          <li>Ben King Award - $1,000 (1)</li>
          <li>Mary Pickford-Rogers Memorial Award - $1,500 (1)</li>
          <li>Jerry Nelson Award - $2,000 (1)</li>
          <li>William R. Walker Award - $2,500 (1)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
