<div class="wrapper">
  <div class="section">
    <div class="subsection">
      <label class="heading">Chapter Scholarships</label>
      <p>$5000 in scholarship funds is allocated annual to accelerate academic success in our young men.</p>
      <p>Outstanding Freshman Scholarship</p>
    </div>
    <div class="subsection">
      <label class="heading">National Scholarships</label>
      <p>The Phi Kappa Psi Foundation provides national scholarships to 5,740 undergraduates across the nation. It recognizes excellence in academics, chapter leadership, campus involvement, and more. You can apply for national scholarships on the
      <a href="https://www.pkpfoundation.org/national-scholarships/" target="_blank">national website</a>.
      <p>Ralph “Dud” Daniel Leadership Award - $4,000 (1)</p>
      <p>Ernest H. Garbe Award - $2,500 (1)</p>
      <p>Schroeder Family Finance Award - $1,000 (1)</p>
      <p>Solon E. Summerfield Award Program - $10,000 (1), $5,000 (2), $2,500 (4)</p>
      <p>Founders Graduate Awards - $4,000 (4)</p>
      <p>Winston R. “Win” Tate Awards - $2,500 (2)</p>
      <p>Watkins Christian Scholar Award - $2,500 (1)</p>
      <p>Philip M. Cornelius Award - $1,750</p>
      <p>William H. Blanning Graduate Awards - $4,000 (2)</p>
      <p>Ruddick C. Lawrence Award - $2,500 (1)</p>
      <p>Ben King Award - $1,000 (1)</p>
      <p>Mary Pickford-Rogers Memorial Award - $1,500 (1)</p>
      <p>Jerry Nelson Award - $2,000 (1)</p>
      <p>William R. Walker Award - $2,500 (1)</p>
    </div>
  </div>
</div>
