.wrapper {
  padding-top: 66px;
  width: 100%;
}

#scroll-up-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  z-index: 4;
  cursor: pointer;
}

a {
  color: rgb(206, 53, 97);
}

.fa {
  -webkit-text-stroke-width: .1vw;
  font-size: 5vw;
}

.fa-arrow-up {
  color: white;
  font-size: 30px !important;
  padding: 10px;
  background-color: rgba(0,0,0,.3);
  border-radius: 50%;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0,0,0,.025) !important;
  padding: 10px;
}

.subsection {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
}

.heading {
  font-size: 6vw;
  letter-spacing: 1.2vw;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  color: rgba(0,0,0,0.7);
}

@media (min-width: 576px) {
  .heading {
    font-size: 5vw;
    letter-spacing: 1vw;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 4vw;
    letter-spacing: .8vw;
  }
}

@media (min-width: 800px) {
  .heading {
    font-size: 35px;
    letter-spacing: 7px;
  }
}
