<div class="wrapper">
  <div class="photo-gallery container">
    <div class="first-row row">
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1889/44408157632_9a26ddc312_c.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1896/43674880425_6abaa1da32_c.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="second-row row">
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1886/43674882405_9bc05f1bce_c.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1845/43865943224_ee7f113d47_c.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="second-row row">
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1894/43865945174_ba0b872373_c.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1884/44534478612_6ba22a1dd9_c.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
  </div>

  <form class="recruitment-form container px-lg-5">
    <div class="form-title">Fall 2018 Rush Interest Form</div>
    <div class="form-group">
      <label>Name <span class="required-asterisk">*</span></label>
      <div class="row">
        <div class="col">
          <input required type="text" class="form-control" id="first-name" placeholder="First name">
        </div>
        <div class="col">
          <input required type="text" class="form-control" id="last-name" placeholder="Last name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="email">Email <span class="required-asterisk">*</span></label>
          <input required type="email" class="form-control" id="email" placeholder="example@uci.edu">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="phone-number">Phone <span class="required-asterisk">*</span></label>
          <input required type="tel" class="form-control" id="phone-number" placeholder="123-456-7890">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="year">Year <span class="required-asterisk">*</span></label>
      <select required class="form-control" id="year">
        <option>Freshman</option>
        <option>Sophomore</option>
        <option>Junior</option>
        <option>Junior Transfer</option>
        <option>Senior</option>
      </select>
    </div>
    <div class="form-group">
      <label>Social Media</label>
      <input type="text" class="form-control" id="facebook" placeholder="Facebook">
      <br>
      <input type="text" class="form-control" id="instagram" placeholder="Instagram">
      <br>
      <input type="text" class="form-control" id="linkedin" placeholder="LinkedIn">
    </div>
    <div class="form-group">
      <label for="sports">Sports Played</label>
      <input type="text" class="form-control" id="sports">
    </div>
    <div class="form-group">
      <label for="cumulative-gpa">Cumulative GPA</label>
      <input type="text" class="form-control" id="cumulative-gpa">
    </div>
    <div class="form-group">
      <label for="last-gpa">Last Quarter GPA</label>
      <input type="text" class="form-control" id="last-gpa">
    </div>
    <div class="form-group">
      <label for="major">Major(s)</label>
      <input type="text" class="form-control" id="major">
    </div>
    <div class="form-group">
      <label for="minor">Minor(s)</label>
      <input type="text" class="form-control" id="minor">
    </div>
    <div class="form-group">
      <label for="achievements">Past Achievements</label>
      <textarea class="form-control" id="achievements" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="referral">How did you hear about us?</label>
      <textarea class="form-control" id="referral" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="reasons">Reasons for your interest in Phi Kappa Psi?</label>
      <textarea class="form-control" id="reasons" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="group">Do you have a group of men interested?</label>
      <textarea class="form-control" id="group" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="extra-information">Anything else we should know?</label>
      <textarea class="form-control" id="extra-information" rows="3"></textarea>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="legacy">
      <label class="form-check-label" for="legacy">Legacy</label>
    </div>
    <br>
    <button type="submit" class="btn btn-submit">Submit</button>
  </form>
</div>
