.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 66px;
  background: white;
}

.col-sm-6, .col-sm-3, .col-sm-4, .col {
  padding: 0 !important;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0,0,0,.025) !important;
  padding: 10px;
}

.subsection {
  max-width: 800px;
  margin: 0 auto;
  background: white;
}

.bottom-section {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.small-section {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.description {
  padding: 20px;
  font-size: 16px;
  background: white;
}

.fa {
  -webkit-text-stroke-width: .1vw;
  font-size: 5vw;
}

.donation-section {
  padding: 20px 10px !important;
  background-color: rgba(0,0,0,.05);
  color: black;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  font-size: 16px;
}

.donation-section a {
  color: rgb(206, 53, 97);
  font-weight: 800;
  letter-spacing: 2px;
}

#donation-link {
  background: rgb(206, 53, 97);
  margin: 10px 0;
  padding: 20px;
  border-radius: 50%;
  color: black;
  max-width: 250px;
}

.donation-description {
  background: white;
  padding: 20px 10px;
  border-radius: 8px;
}

.donation-img {
  width: 100px;
  height: 100px;
  filter: brightness(0) invert(1);
}

@media (max-width: 800px) {
  .donation-img {
    width: 100px;
    height: 100px;
    filter: brightness(0) invert(1);
  }
}

.newsletter-section {
  padding: 20px 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.newsletter-title {
  align-self: flex-start;
  letter-spacing: 1px;
  font-size: 20px;
  color: rgb(206, 53, 97);
  margin-bottom: 5px;
}

.newsletter-submit-btn {
  color: rgba(0,0,0,.4);
  background: white;
  border: rgba(0,0,0,.4) 1px solid;
  border-radius: 4px;
  padding: 5px 10px;
  min-width: 70px;
}

.instagram-media {
  text-align: center !important;
  margin: 30px auto !important;
}

.container-title {
  padding: 15px 0;
  color: rgba(242, 242, 242, 1);
  font-size: 5vw;
  letter-spacing: 3vw;
  text-transform: uppercase;
  width: auto;
}

@media (min-width: 1200px) {
  .container-title {
    font-size: 50px;
    letter-spacing: 20px;
  }
}
