<div class="wrapper">
  <div class="photo-gallery container">
    <div class="first-row row">
      <div class="main-photo-container col">
        <video loop autoplay preload="auto">
          <source src="assets/flag.m4v" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="second-row row">
      <label id="main-photo-label" class="sticky-label">Phi Kappa Psi</label>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1849/44338322261_9be68d33d6_c.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col-sm-6">
        <img src="https://farm5.staticflickr.com/4496/26326436649_ff5c568e00_k.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="third-row row">
      <label class="sticky-label">Live Ever.</label>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1860/43622026834_bb17039c95_c.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1882/44338325671_e7ceb04b14_c.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="fourth-row row">
      <label class="sticky-label">Die Never.</label>
      <div class="col-sm-6">
        <img src="https://farm2.staticflickr.com/1885/43622022754_2933a218a3_c.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col-sm-6">
        <img src="https://farm5.staticflickr.com/4631/39981211031_1407d42309_k.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
  </div>
  <div class="biography">
    <div class="biography-label">
      What is Phi Kappa Psi?
    </div>
    <div class="biography-description">
      Here at UCI, the Cal Kappa chapter of Phi Kappa Psi is one of the oldest fraternities on campus. Founded on campus is 1991, we have a growing legacy of brotherhood excellence, and we stand out from our peers. With an impressive network of alumni, over 80,000 living nationwide, joining our chapter means more than joining another campus organization. Members of Phi Psi work diligently to increase their scholarship, expand their social circle, and engage in meaningful philanthropy. Phi Psi brothers have set the highest standards on campus, and will continue to do so in the future.
      <br><br>
      Live Ever. Die Never.
    </div>
  </div>
</div>
