<div class="wrapper">
  <div class="photo-gallery container">
    <div class="first-row row">
      <div class="main-photo-container col">
        <img src="https://farm5.staticflickr.com/4446/37394409264_e3ccdc8bed_k.jpg"
             id="main-photo"
             class="photo img-fluid" />
      </div>
    </div>
    <div class="second-row row">
      <p id="main-photo-label" class="sticky-label">Phi Kappa Psi</p>
      <div class="w-100"></div>
      <div class="col">
        <img src="https://lightroom.adobe.com/v2c/spaces/134e01d484154b8ca4f9152c47437867/assets/e794c278da864a1e9524f8aab4169e17/revisions/054a4086df884af1b28c5f861cec065a/renditions/9ab50e7aeb4266de1a357e14f98e54a1"
             class="photo img-fluid"/>
      </div>
      <div class="col">
        <img src="https://farm5.staticflickr.com/4496/26326436649_ff5c568e00_k.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="third-row row">
      <p class="sticky-label">Live Ever.</p>
      <div class="col">
        <img src="https://farm5.staticflickr.com/4527/38540295426_7a4aa1f3e4_k.jpg"
             class="photo img-fluid"/>
      </div>
      <div class="col">
        <img src="https://lightroom.adobe.com/v2c/spaces/daca9a51509b4682afa16182f4eedddb/assets/d2c8ea0203444b388f16afb9659a28d0/revisions/1e39dcdedec64767a1ad7b6f00c9cd4d/renditions/f4f2a7adea28babea7a91e4c3bcdb31a"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="fourth-row row">
      <p class="sticky-label">Die Never.</p>
      <div class="w-100"></div>
      <div class="col">
        <img src="https://lightroom.adobe.com/v2c/spaces/134e01d484154b8ca4f9152c47437867/assets/985eda302c774b32a500126779ded96b/revisions/412782137bf441549d16557f35d3aad1/renditions/33a1ce501bc258f4aa9dae7add504892"
             class="photo img-fluid"/>
      </div>
      <div class="col">
        <img src="https://farm5.staticflickr.com/4631/39981211031_1407d42309_k.jpg"
             class="photo img-fluid"/>
      </div>
    </div>
    <div class="col biography">
      <div class="biography-label">
        What is Phi Kappa Psi?
      </div>
      <div class="biography-description">
        More content soon my dude...
      </div>
    </div>
  </div>

</div>
