<div class="wrapper">
  <button class="btn name-btn" (click)="changeMode('rushee-profiles')">Rushee Profiles</button>
  <button class="btn name-btn" (click)="changeMode('alumni-profiles')">Alumni Profiles</button>
  <button class="btn name-btn" (click)="changeMode('event-checkin')">Event Check-ins</button>

  <div class="admin-content">
    <app-rushee-profiles *ngIf="currentMode == 'rushee-profiles'"></app-rushee-profiles>
    <!-- ----------------------------------------------ALUMNI PROFILES----------------------------------------------- -->
    
    <!-- ----------------------------------------------EVENT CHECKINS----------------------------------------------- -->
    <app-event-checkin *ngIf="currentMode == 'event-checkin'"></app-event-checkin>
  </div>
</div>
