.wrapper {
  background-color: white;
  color: #1a1a1a;
  padding: 10px;
  padding-top: 66px;
  padding-bottom: 80px;
}

.btn {
  color: #1a1a1a;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #355E3B;
}

.admin-content {
  background-color: white;
  padding-top: 10px;
}