<div class="wrapper">
  <div class="btn-container">
    <button
      [style.background-color]="
        currentMode == 'rushee-profiles' ? 'rgba(0, 255, 204,0.3)' : 'white'
      "
      class="btn rushee-profiles-btn"
      (click)="changeMode('rushee-profiles')"
    >
      Rushee Profiles
    </button>
    <button
      [style.background-color]="
        currentMode == 'event-checkin' ? 'rgba(0, 255, 204,0.3)' : 'white'
      "
      class="btn event-checkin-btn"
      (click)="changeMode('event-checkin')"
    >
      Event Check-ins
    </button>
    <button
      [style.background-color]="
        currentMode == 'alumni-profiles' ? 'rgba(0, 255, 204,0.3)' : 'white'
      "
      class="btn alumni-profiles-btn"
      (click)="changeMode('alumni-profiles')"
    >
      Alumni Profiles
    </button>
  </div>

  <div class="admin-content">
    @if (currentMode == 'rushee-profiles') {
    <app-rushee-profiles></app-rushee-profiles>
    } @if (currentMode == 'event-checkin') {
    <app-event-checkin></app-event-checkin>
    } @if (currentMode == 'alumni-profiles') {
    <app-alumni-profiles></app-alumni-profiles>
    }
  </div>
</div>
