<div class="scrollable-container">
  <table>
    <tr class="table-header-row">
      <th>Name</th>
      <th>T ({{ getDayTotal(0) }})</th>
      <th>W ({{ getDayTotal(1) }})</th>
      <th>Th ({{ getDayTotal(2) }})</th>
      <th>F ({{ getDayTotal(3) }})</th>
    </tr>
    @for (rushee of orderedRushees; track rushee) {
      <tr>
        <td class="nowrap-cell">
          {{ rushee[1] }}
        </td>
        @for (date of rushDates; track date) {
          <td>
            <button
              [class.checked-btn]="checkedIn(rushee[0])[date]"
              [class.unchecked-btn]="!checkedIn(rushee[0])[date]"
              (click)="onCheckin(rushee[0])"
            ></button>
          </td>
        }
      </tr>
    }
  </table>
</div>
