<div class="scrollable-container">
    <table>
      <tr class="table-header-row">
        <th>Name</th>
        <th>T ({{getDayTotal(0)}})</th>
        <th>W ({{getDayTotal(1)}})</th>
        <th>Th ({{getDayTotal(2)}})</th>
        <th>F ({{getDayTotal(3)}})</th>
      </tr>
      <tr *ngFor="let rushee of orderedRushees">
        <td class="nowrap-cell">
          {{rushee[1]}}
        </td>
        <td *ngFor="let date of rushDates">
          <button [ngClass]="checkedIn(rushee[0])[date] ? 'checked-btn' : 'unchecked-btn'"
                  (click)="onCheckin(rushee[0])"></button>
        </td>
      </tr>
    </table>
  </div>
