.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background-color: #1a1a1a;
}

.col-sm-6, .col-sm-3, .col-sm-4, .col {
  padding: 0 !important;
}

.sticky-label {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background: rgba(196, 30, 58,.5);

}

.exec-section {
  text-align: center;
  background-color: #1a1a1a;
  margin: 0;
  padding-bottom: 40px;
}

.container-title {
  padding: 20px 0;
  color: rgba(242, 242, 242, 1);
  font-size: 5vw;
  letter-spacing: 3vw;
  text-transform: uppercase;
  margin: 0 -15px;
  width: auto;
}

.container {
  max-width: 100%;
}

.col-sm-3 {
}

.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.center-cropped {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px;
}

.center-cropped .profile-picture {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.clickable {
  cursor: pointer;
}

.not-clickable {
}

.profile-name, .profile-position {
  color: rgba(242, 242, 242, 1);
  margin-bottom: 5px;
}

.profile-position {
  font-style: italic;
  color: #5ca367
}

.leadership-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leadership-table {
}

.leadership-row td {
  padding: 5px 10px;
}

.leadership-year {
  color: white;
  font-style: italic;
}

.leadership-title {
  color: #C41E3A;
}

.leadership-recipient {
  color: white;
}

.brotherhood-section {
  background-color: #1a1a1a;
  margin: 0;
}

.brotherhood-container {
  list-style: none;
  padding: 10px;
  display: flex;
}

.brotherhood-item {
  color: rgba(242, 242, 242, 1);
  padding: 10px !important;
  text-align: center;
  font-size: 20px;
}
