.sticky {
  //position: sticky !important;
  //position: -webkit-sticky !important;
  //top: 0;
}

nav {
  background: #1a1a1a !important;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

nav li {
  flex: auto;
}

.nav-logo {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  outline-color: #355E3B;
}

.nav-link {
  letter-spacing: 1px;
  font-weight: 200;
}

.active > a,
.active > a:hover,
.active > a:focus {
  color: #355E3B !important;
  font-weight: 700;
}
