@import "~bootstrap/scss/bootstrap-grid.scss";

wrapper {
  width: 100%;
}

nav {
  background: #1a1a1a !important;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

nav li {
  flex: auto;
}

.nav-item.active a {
  background: none !important;
}

.nav-logo {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  outline-color: #355E3B;
}

.nav-link {
  letter-spacing: 1px;
  font-weight: 200;
  padding-left: 14px !important;
}

.active > a,
.active > a:hover,
.active > a:focus {
  color: #355E3B !important;
  font-weight: 700;
}

@include media-breakpoint-up(sm) {
  .nav-link {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .nav-link {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  .nav-link {
    font-size: 1.4rem;
  }
}
