.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

hr {
  border-top: 2px solid #C41E3A;
  width: 75%;
  margin: 0;
}

.col-sm-6 {
  padding: 0 !important;
}

.container {
  max-width: 100%;
  padding: 0 !important;
}

.col {
  padding: 0;
}

.section {
  max-width: 1000px;
  margin: 0 auto;
}

.subsection {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  background: white;
}

.small-section {
  max-width: 800px;
  margin: 0 auto;
}

.fa {
  color: #a6a6a6;
  padding: 0 12px;
  font-size: 24px;
}

.icon-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0; right: 0; bottom: 40px;
}

.icon-bar a {
  line-height: 22px;
  height: 22px;
}

.video-player {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.content-container {
  background: white;
  width: 100%;
  padding-top: 50px !important;
}

/* --------------------News Alert-------------------- */

.news-alert {
  padding: 5px;
  background: #009999;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,.2);
}

.news-alert-text {
  margin: 0 0 5px 0;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-alert-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.news-alert-container button {
  background: white;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 1px;
  min-width: 90px;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
}

.news-alert-container button:hover {
  background: #009999;
}

.news-alert-container button:hover a {
  color: white;
}

.nav-link {
  padding: 0;
}

.news-alert-container button a {
  color: #006666;
  font-size: 12px !important;
  margin: auto !important;
  line-height: 23px !important;
  height: 23px !important;
}

/* --------------------News Alert-------------------- */

.photo-gallery {
  text-align: center;
}

.fa-arrow-up {
  color: white;
  font-size: 30px !important;
  padding: 10px;
  background-color: rgba(0,0,0,.3);
  border-radius: 50%;
}

.rush-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.rush-video-container iframe {
  position: absolute;
  top: 66;
  left: 0;
  width: 100%;
  height: 100% !important;
}

.sticky-alert {
  position: sticky;
  top: 66px;
  z-index: 4;
}

.labels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sticky-label {
  z-index: 1;
  width: 100%;
  color: #C41E3A;
  -webkit-text-fill-color: #C41E3A;
  font-size: 5.5vw;
  letter-spacing: 3vw;
  text-align: center;
  margin-top: 16px;
}

.sticky-sublabel {
  z-index: 1;
  width: 100%;
  color: #C41E3A;
  -webkit-text-fill-color: #C41E3A;
  font-size: 4.5vw;
  letter-spacing: 2.2vw;
  text-align: center;
  margin-top: 8px;
}

.less-letter-spacing {
  letter-spacing: .5vw !important;
  margin-bottom: 0;
  color: #a6a6a6;
  -webkit-text-fill-color: #a6a6a6;
}

.scrolled {
  background-color: rgba(0,0,0,.45);
}

.alumni-list li {
  text-align: left;
}

.alumni-name {
  font-weight: 800;
  letter-spacing: 1px;
  color: rgba(53, 94, 59, 1);
}

.heading {
  font-size: 6vw;
  letter-spacing: 1.2vw;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  color: rgba(0,0,0,0.7);
}

.description {
  font-size: 14px;
  width: 100%;
  height: auto;
  color: rgba(0,0,0,0.7);
  text-align: left;
}

@media (min-width: 576px) {
  .heading {
    font-size: 5vw;
    letter-spacing: 1vw;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 4vw;
    letter-spacing: .8vw;
  }
  .description {
    font-size: 16px;
  }
  .fa {
    font-size: 3vw;
  }
}

@media (min-width: 800px) {
  .heading {
    font-size: 35px;
    letter-spacing: 7px;
  }
}

@media (min-width: 992px) {
  .description {
    font-size: 16px;
  }
  .fa {
    font-size: 2vw;
  }
}

#boring-section {
  z-index: 2;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#values-section, #brotherhood-section, #scholarship-section, #loyalty-section {
  background-color: rgba(53, 94, 59,.125);
  height: auto;
  padding: 30px 30px 30px 30px;
}

#biography-section, #networking-section, #leadership-section, #friendship-section, #business-section {
  background: rgba(0,0,0,.05);
  height: auto;
  padding: 30px 30px 30px 30px;
}

/* ----------- */

.knock-container input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-style: bold;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .sticky-label {
    z-index: 1;
    width: 100%;
    color: #C41E3A;
    -webkit-text-fill-color: #C41E3A;
    font-size: 70px;
    letter-spacing: 40px;
    text-align: center;
    margin-top: 8px;
  }
  .sticky-sublabel {
    z-index: 1;
    width: 100%;
    color: #C41E3A;
    -webkit-text-fill-color: #C41E3A;
    font-size: 57px;
    letter-spacing: 32px;
    text-align: center;
  }
  .less-letter-spacing {
    letter-spacing: 7px !important;
    color: #a6a6a6;
    -webkit-text-fill-color: #a6a6a6;
  }
}

@media (max-width: 1000px) {
  .content-container, #boring-section {
    padding-top: 0px !important;
  }
  #boring-section {
    padding-bottom: 0px !important;
  }
}

.fa:focus, .fa:hover {
  color: #C41E3A;
}
