.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 66px;
  background: white;
}

.col-sm-6 {
  padding: 0 !important;
}

.container {
  max-width: 100%;
  padding: 0 !important;
}

.col {
  padding: 0;
}

.row {
  margin: auto !important;
  max-width: 1200px;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

.subsection {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

.bottom-section {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.small-section {
  max-width: 800px;
  margin: 0 auto;
}

/* --------------------News Alert-------------------- */

.news-alert {
  padding: 5px;
  background: #009999;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,.2);
}

.news-alert-end {
  background: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-alert-text {
  margin: 0 0 5px 0;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-alert-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.news-alert-container button {
  background: white;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 1px;
  min-width: 90px;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
}

.news-alert-container button:hover {
  background: #009999;
}

.news-alert-container button:hover a {
  color: white;
}

.nav-link {
  padding: 0;
}

.news-alert-container button a {
  color: #006666;
  font-size: 12px !important;
  margin: auto !important;
  line-height: 23px !important;
  height: 23px !important;
}

/* --------------------News Alert-------------------- */

.photo-gallery {
  text-align: center;
}

#scroll-up-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  z-index: 4;
  cursor: pointer;
}

.fa {
  -webkit-text-stroke-width: .1vw;
  font-size: 5vw;
}

.fa-arrow-up {
  color: white;
  font-size: 30px !important;
  padding: 10px;
  background-color: rgba(0,0,0,.3);
  border-radius: 50%;
}

.rush-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.rush-video-container iframe {
  position: absolute;
  top: 66;
  left: 0;
  width: 100%;
  height: 100% !important;
}

.sticky-alert {
  position: sticky;
  top: 66px;
  z-index: 4;
}

.sticky-label, .sticky-label-2, .sticky-label-3 {
  z-index: 1;
  width: 100%;
  background: white;
  color: rgba(0,0,0,1);
  -webkit-text-fill-color: rgba(0,0,0,1);
  font-size: 5.5vw;
  letter-spacing: 3vw;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  border-bottom: 3px solid rgba(0,0,0,0.025);
}

@media (min-width: 1200px) {
  .sticky-label, .sticky-label-2, .sticky-label-3 {
    z-index: 1;
    width: 100%;
    background: white;
    color: rgba(0,0,0,1);
    -webkit-text-fill-color: rgba(0,0,0,1);
    font-size: 70px;
    letter-spacing: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .sticky-label-end {
    font-size: 70px;
  }
}

.icon-bar {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: rgba(0,0,0,.3);
  font-size: 16px !important;
}

.icon-bar a:hover {
  color: black;
}

.facebook, .twitter, .linkedin, .instagram {
  color: white;
}

.sixth-row {
  margin-top: 22px !important;
  margin: auto !important;
}

#main-photo-label {
  -webkit-text-stroke-color: rgba(0,0,0,.45);
  -webkit-text-stroke-width: .05vw;
}

#second-photo-label, #third-photo-label {
  -webkit-text-stroke-color: rgba(0,0,0,.45);
  -webkit-text-stroke-width: .01vw;
}

.scrolled {
  background-color: rgba(0,0,0,.45);
}

.main-photo-container {
  position: relative;
}

.main-video {
  width: 100%;
}

.instagram-media {
  margin: 30px auto !important;
}

.alumni-list li {
  text-align: left;
}

.alumni-name {
  font-weight: 800;
  letter-spacing: 1px;
  color: rgba(53, 94, 59, 1);
}

.heading {
  font-size: 6vw;
  letter-spacing: 1.5vw;
  width: 100%;
  height: auto;
  padding-bottom: 3vw;
}

.description {
  font-size: 14px;
  width: 100%;
  height: auto;
  color: white;
  text-align: left;
}

@media (min-width: 576px) {
  .heading {
    font-size: 5vw;
    letter-spacing: 1.5vw;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 4vw;
    letter-spacing: 1.5vw;
  }
  .description {
    font-size: 16px;
  }
  .fa {
    -webkit-text-stroke-width: .1vw;
    font-size: 3vw;
  }
}

@media (min-width: 800px) {
  .heading {
    font-size: 35px;
    letter-spacing: 12px;
  }
}

@media (min-width: 992px) {
  .description {
    font-size: 18px;
  }
  .fa {
    -webkit-text-stroke-width: .1vw;
    font-size: 2vw;
  }
}

.boring-section {
  z-index: 2;
}

.biography-label {
  color: white;
}

.biography-section {
  background-color: rgba(0,0,0,.4);
  height: auto;
  padding: 30px 30px 30px 30px;
}

.values-label, .networking-label, .brotherhood-label, .leadership-label, .scholarship-label, .friendship-label, .loyalty-label, .business-label {
  color: white;
}

.values-section, .brotherhood-section, .scholarship-section, .loyalty-section {
  background-color: rgba(53, 94, 59, .8);
  height: auto;
  padding: 30px 30px 30px 30px;
}

.networking-section, .leadership-section, .friendship-section, .business-section {
  /* background-color: rgba(196, 30, 58,.75); */
  background: rgba(0,0,0,.4);
  height: auto;
  padding: 30px 30px 30px 30px;
}

/* ----------- */

.knock-container input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-style: bold;
  margin-bottom: 20px;
}
