<div class="wrapper">
  <div class="form-title">Rush &Phi;&Kappa;&Psi;</div>
  <form class="recruitment-form container" #recruitmentForm="ngForm">
    <div class="form-group">
      <label>Name <span class="required-asterisk">*</span></label>
      <div class="row">
        <div class="col">
          <input
            required
            [(ngModel)]="firstName"
            type="text"
            class="form-control"
            name="firstName"
            id="firstName"
            placeholder="First name"
          />
        </div>
        <div class="col">
          <input
            required
            [(ngModel)]="lastName"
            type="text"
            class="form-control"
            name="lastName"
            id="lastName"
            placeholder="Last name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email"
            >Email <span class="required-asterisk">*</span></label
          >
          <input
            required
            [(ngModel)]="form.email"
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="example@uci.edu"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phone"
            >Phone <span class="required-asterisk">*</span></label
          >
          <input
            required
            [(ngModel)]="form.phone"
            type="tel"
            class="form-control"
            name="phone"
            id="phone"
            placeholder="123-456-7890"
          />
        </div>
      </div>
    </div>
    <div class="row button-container">
      <button
        class="btn-submit"
        (click)="onSubmit()"
        type="submit"
        [disabled]="invalid()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
