<table id="wrapper">
  <div *ngIf="!emailSubmitted" class="input-group mb-3">
    <input required [(ngModel)]="donor.email" type="email" class="form-control" name="email" id="email" placeholder="example@uci.edu"/>
    <div class="input-group-append">
      <button (click)="onSubmitEmail()" [disabled]="!validEmail()" class="input-group-text email-btn" id="basic-addon2">Donate ❤️</button>
    </div>
  </div>
  <div id="donation-section" class="mb-3" *ngIf="emailSubmitted && !donationSubmitted">
    <p *ngIf="welcomeBack" id="welcomeback">
      Welcome back, {{donor.firstName}}!
    </p>
    <form #donationForm="ngForm">
      <div class="row">
        <div class="col form-group">
          <label>First Name <span class="required-asterisk">*</span></label>
          <input required [(ngModel)]="donor.firstName" type="text" class="form-control" name="firstName" id="firstName" placeholder="First name"/>
        </div>
        <div class="col form-group">
          <label>Last Name <span class="required-asterisk">*</span></label>
          <input required [(ngModel)]="donor.lastName" type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name"/>
        </div>
      </div>
      <div class="form-check-container">
        <div class="form-check">
          <input [(ngModel)]="donation.anonymous" class="form-check-input" type="checkbox" [value]="donation.anonymous" name="anonymous" id="anonymous">
          <label class="form-check-label" for="anonymous">Anonymous</label>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>Phone <span class="required-asterisk">*</span></label>
          <input required [(ngModel)]="donor.phone" type="tel" class="form-control" name="phone" id="phone" placeholder="123-456-7890"/>
        </div>
        <div class="col form-group">
          <label for="affiliation">Affiliation</label>
          <select required [(ngModel)]="donation.affiliation" class="form-control" name="affiliation" id="affiliation">
            <option selected value="None">None</option>
            <option *ngFor="let org of organizationOptions" [value]="org">{{org}}</option>
          </select>
        </div>
      </div>
      <div class="row amount-row">
        <div *ngIf="!paypalSubmitted" class="col form-group">
          <label for="amount">Amount <span class="required-asterisk">*</span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span [ngStyle]="{'background' : paypalSubmitted ? 'rgba(255, 255, 255, 0.308)' : 'lightgrey'}" class="input-group-text">$</span>
            </div>
            <input [disabled]="paypalSubmitted" required [(ngModel)]="donation.amount" type="text" name="amount" class="form-control" aria-label="Amount" placeholder="10.00"/>
          </div>
        </div>
        <div *ngIf="!paypalSubmitted" class="col" id="paypal-container">
          <form id="paypal-btn" >
            <input (click)="paypal()" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          </form>
        </div>
        <p id="paypal-thankyou" *ngIf="paypalSubmitted">Thank you for your <span id="paypal-amount">${{donation.amount}}</span> donation!</p>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>Leave a comment<span class="required-asterisk"></span></label>
          <textarea required [(ngModel)]="donation.comment" type="text" class="form-control" name="comment" id="comment" placeholder="I donated because..."></textarea>
        </div>
      </div>
      <div id="donate-btn-container">
        <button (click)="onDonate()" [ngClass]="validDonation() ? 'donate-btn' : 'donate-btn-disabled'"
          type="submit" [disabled]="!validDonation()">Complete Donation</button>
      </div>
    </form>
  </div>
  <div id="thankyou-section" *ngIf="donationSubmitted">
    <p id="thankyou-message">
        Thank you so much for your donation! Every cent goes towards support for the youth at Boys & Girls Club Santa Ana!
    </p>
  </div>
  <div class="goal-container">
    <span><span class="goal">${{total.toLocaleString()}}</span> of ${{goal.toLocaleString()}} raised</span>
    <div class="progress md-progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': (total/goal*100).toFixed(0) + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="btn-container">
      <button id="individuals-btn" (click)="selectViewMode('individuals')"
        [ngStyle]="{'background': viewMode === 'individuals' ? 'rgba(0,0,0,0)' : 'rgba(0,0,0,.1)',
                    'color': viewMode === 'individuals' ? 'black' : 'grey'}">Individuals</button>
      <button id="organizations-btn" (click)="selectViewMode('organizations')"
        [ngStyle]="{'background': viewMode === 'organizations' ? 'rgba(0,0,0,0)' : 'rgba(0,0,0,.1)',
                    'color': viewMode === 'organizations' ? 'black' : 'grey'}">Organizations</button>
    </div>

  <div *ngIf="viewMode === 'individuals'">
    <tr *ngFor="let donation of donations" class="donation">
      <td class="individual-container">
        <div *ngIf="!donation.anonymous" class="name">{{donorMap[donation.id]}}</div>
        <div *ngIf="donation.anonymous" class="name">Anonymous</div>
        <div *ngIf="donation.affiliation" class="affiliation">{{donation.affiliation}}</div>
      </td>
      <td class="amount">${{donation.amount.toLocaleString()}}</td>
      <td class="comment-container">
        <div *ngIf="donation.comment" class="comment">{{donation.comment}}</div>
        <div class="time">{{formatTimeStamp(donation.time)}}</div>
      </td>
    </tr>
  </div>

  <div *ngIf="viewMode === 'organizations'">
      <tr *ngFor="let donation of organizations; let i = index" class="donation">
        <td [ngStyle]="{'color': i == 0 ? 'green' : 'black'}" class="name">{{i+1}}</td>
        <td [ngStyle]="{'color': i == 0 ? 'green' : 'black'}" class="name">{{donation.name}}</td>
        <td [ngStyle]="{'color': i == 0 ? 'green' : 'black'}" class="amount">${{donation.amount.toLocaleString()}}</td>
      </tr>
    </div>
</table>
