#wrapper {
  max-width: 800px;
  margin: 0 auto 6px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
}

.row {
  margin: 0;
}

#title {
  font-size: 36px;
  letter-spacing: 9px;
  padding: 10px;
  text-align: center;
  color: rgba(0,0,0,.5);
}

.goal-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.goal {
  font-size: 24px;
  color: green;
  padding: 10px;
}

.input-group {
  max-width: 500px;
}

.amount-group {
  height: 38px;
}

.email-btn {
  outline: none;
  padding: 3px 8px 3px 12px;
}

#btn-container {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 10px;
}

#organizations-btn, #individuals-btn {
  padding: 4px 10px;
  font-size: 16px;
  outline: none;
  border: none;
  background: rgba(0,0,0,0);
}

#organizations-btn:active, #individuals-btn:active {
  background: rgba(0,0,0,.05);
}

#donation-section {
  width: 100%;
  background: white;
  padding-top: 10px;
  margin-bottom: 10px;
}

.donation {
  border-bottom: solid 1px lightgrey;
}

.individual-container {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  .individual-container {
    min-width: 40px;
  }
}

.affiliation, .amount, .comment, .time {
  padding: 10px;
}

.name {
  padding: 10px 0 10px 10px;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.affiliation {
  font-size: 14px;
  font-weight: 700;
  color: grey;
}

.amount {
  font-size: 16px;
  color: green;
  vertical-align: top;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment {
  font-size: 14px;
}

.time {
  font-size: 12px;
  color: grey;
  text-align: right;
}

#paypal-btn {
  width: 100%;
  text-align: center;
}

#donate-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.donate-btn {
  min-width: 80px;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  background: none;
  padding: 5px 12px 5px 12px;
  outline: none;
  background-image: linear-gradient(#C51104, #FF4013);
}

#thankyou-section {
  width: 100%;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thankyou-message {
  max-width: 500px;
  text-align: center;
  margin: 0;
}

