<table id="wrapper">
<!-- -------------------------EMAIL--------------------------------- -->
  <div *ngIf="!emailSubmitted" class="input-group mb-3">
    <input id="email" class="form-control" placeholder="example@uci.edu" required type="email" name="email"
           [(ngModel)]="donor.email" />
    <div class="input-group-append">
      <button class="input-group-text email-btn" id="basic-addon2"
              (click)="onSubmitEmail()" [disabled]="!validEmail()" >
        Donate ❤️</button>
    </div>
  </div>
<!-- -------------------------WELCOME MESSAGE--------------------------------- -->
  <div *ngIf="emailSubmitted && !donationSubmitted" id="donation-section" class="mb-3">
    <p *ngIf="welcomeBack" id="welcomeback">
      Welcome back, {{donor.firstName}}!
    </p>
<!-- -------------------------DONATION FORM--------------------------------- -->
    <form #donationForm="ngForm">
      <div class="row">
        <div class="col form-group">
          <label>
            First Name <span class="required-asterisk">*</span>
          </label>
          <input id="firstName" class="form-control" placeholder="First name" required type="text" name="firstName"
                 [(ngModel)]="donor.firstName" />
        </div>
        <div class="col form-group">
          <label>Last Name <span class="required-asterisk">*</span></label>
          <input id="lastName" class="form-control" placeholder="Last name" required type="text" name="lastName"
                 [(ngModel)]="donor.lastName" />
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="affiliation">Affiliation</label>
          <select id="affiliation" class="form-control" required name="affiliation"
                  [(ngModel)]="donation.affiliation" >
            <option selected value="None">None</option>
            <option *ngFor="let org of organizationOptions" [value]="org">{{org}}</option>
          </select>
        </div>
        <div class="col form-check-container">
          <div class="form-check">
            <input id="anonymous" class="form-check-input" type="checkbox" name="anonymous"
                   [(ngModel)]="donation.anonymous" [value]="donation.anonymous">
            <label class="form-check-label" for="anonymous">Anonymous</label>
          </div>
        </div>
      </div>
      <div class="row amount-row">
<!-- -------------------------PAYMENT--------------------------------- -->
        <div *ngIf="!paypalSubmitted" class="col form-group">
          <label for="amount">
            Amount <span class="required-asterisk">*</span>
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control" placeholder="10.00" required type="text" name="amount" aria-label="Amount"
                   [(ngModel)]="donation.amount" [disabled]="paypalSubmitted" />
          </div>
        </div>
        <div *ngIf="!paypalSubmitted" id="paypal-container" class="col">
          <form id="paypal-btn" >
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"
                   (click)="paypal()" />
          </form>
        </div>
        <p *ngIf="paypalSubmitted" id="paypal-thankyou">
          Thank you for your <span id="paypal-amount">${{donation.amount}}</span> donation!
        </p>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>
            Leave a comment<span class="required-asterisk"></span>
          </label>
          <textarea id="comment" class="form-control" required type="text" name="comment"
                    [(ngModel)]="donation.comment"></textarea>
        </div>
      </div>
<!-- -------------------------SUBMIT BUTTON--------------------------------- -->
      <div id="donate-btn-container">
        <button [ngClass]="validDonation() ? 'donate-btn' : 'donate-btn-disabled'" type="submit"
                (click)="onDonate()" [disabled]="!validDonation()">
          Complete Donation
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="donationSubmitted" id="thankyou-section">
    <p id="thankyou-message">
        Thank you so much for your donation! Every cent goes towards support for the youth at Boys & Girls Club Santa Ana!
    </p>
  </div>
<!-- -------------------------GOAL & PROGRESS BAR--------------------------------- -->
  <div class="goal-container">
    <span>
      <span class="goal">${{total.toLocaleString()}}</span> of ${{goal.toLocaleString()}} raised
    </span>
    <div class="progress md-progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
             [ngStyle]="{'width': (total/goal*100).toFixed(1) + '%'}"></div>
    </div>
  </div>
<!-- -------------------------INDIVIDUAL/ORGANIZATION SELECTOR--------------------------------- -->
  <div id="btn-container">
    <button id="individuals-btn"
            [ngStyle]="{'background': viewMode === 'individuals' ? 'rgba(0,0,0,0)' : 'rgba(0,0,0,.1)',
                        'color':      viewMode === 'individuals' ? 'black' : 'grey'}"
            (click)="selectViewMode('individuals')">
      Individuals
    </button>
    <button id="organizations-btn"
            [ngStyle]="{'background': viewMode === 'organizations' ? 'rgba(0,0,0,0)' : 'rgba(0,0,0,.1)',
                        'color':      viewMode === 'organizations' ? 'black' : 'grey'}"
            (click)="selectViewMode('organizations')">
      Organizations
    </button>
  </div>
<!-- -------------------------INDIVIDUAL DONATION POSTS--------------------------------- -->
  <div *ngIf="viewMode === 'individuals'">
    <tr *ngFor="let donation of donations" class="donation">
      <td class="individual-container">
        <div *ngIf="!donation.anonymous" class="name">
          {{donorMap[donation.id]}}
        </div>
        <div *ngIf="donation.anonymous" class="name">
          Anonymous
        </div>
        <div *ngIf="donation.affiliation" class="affiliation">
          {{donation.affiliation}}
        </div>
      </td>
      <td class="amount">
        ${{donation.amount.toLocaleString()}}
      </td>
      <td class="comment-container">
        <div *ngIf="donation.comment" class="comment">
          {{donation.comment}}
        </div>
        <div class="time">
          {{formatTimeStamp(donation.time)}}
        </div>
      </td>
    </tr>
  </div>
<!-- -------------------------Organizations--------------------------------- -->
  <div *ngIf="viewMode === 'organizations'">
      <tr *ngFor="let donation of organizations; let i = index" class="donation"
          [ngStyle]="{'color': i == 0 ? 'green' : 'black'}">
        <td class="index">
          {{i+1}}
        </td>
        <td class="name">
          {{donation.name}}
        </td>
        <td class="amount-org">
          ${{donation.amount.toLocaleString()}}
        </td>
      </tr>
    </div>
</table>
