.wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.025) !important;
  padding: 10px;
}

.subsection {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background: white;
}

.bottom-section {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.small-section {
  max-width: 800px;
  margin: 0 auto;
}

.col-sm-6,
.col-sm-3,
.col-sm-4,
.col {
  padding: 0 !important;
}

.row {
  margin: auto !important;
  max-width: 1200px;
}

.showall-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.showall-btn {
  background: rgb(206, 53, 97);
  color: white;
  font-size: 18px;
}

.exec-section {
  text-align: center;
  background-color: white;
}

.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.center-cropped {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 80%;
  margin: 10px;
  border: 5px solid white;
}

.center-cropped .profile-picture {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.clickable {
  cursor: pointer;
}

.profile-name {
  font-size: 18px;
  color: black;
  font-weight: 800;
  margin-bottom: 5px;
}

.profile-position {
  color: grey;
  margin-bottom: 5px;
}

.previous-position {
  font-style: italic;
  color: rgb(206, 53, 97);
  margin-bottom: 5px;
}

.leader-row td {
  padding: 5px 10px;
}

.leader-year {
  color: black;
  font-style: italic;
}

.leader-title {
  color: rgb(206, 53, 97);
}

.leader-recipient {
  color: black;
}

.brotherhood-section {
  background-color: rgba(0, 0, 0, 0.024) !important;
}

.brotherhood-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.brotherhood-list-item {
  padding: 10px 5px;
}

.brotherhood-item {
  color: black;
  padding: 10px 10px !important;
  font-size: 16px;
  background: white;
  border-radius: 8px;
  white-space: nowrap;
}
