.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 66px;
  background-color: white;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0,0,0,.025) !important;
  padding: 10px;
}

.subsection {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background: white;
}

.bottom-section {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.small-section {
  max-width: 800px;
  margin: 0 auto;
}

.col-sm-6, .col-sm-3, .col-sm-4, .col {
  padding: 0 !important;
}

.row {
  margin: auto !important;
  max-width: 1200px;
}

#scroll-up-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  z-index: 4;
  cursor: pointer;
}

.fa-arrow-up {
  color: white;
  font-size: 30px !important;
  padding: 10px;
  background-color: rgba(0,0,0,.3);
  border-radius: 50%;
}

.showall-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.showall-btn {
  background: rgb(206, 53, 97);
  color: white;
  font-size: 18px;
}

.exec-section {
  text-align: center;
  background-color: white;
}

.sticky-container-title {
  padding: 15px 0;
  color: rgba(0,0,0,.5);
  font-size: 4vw;
  letter-spacing: .9vw;
  margin: 0;
  width: auto;
  text-align: center;
  position: sticky;
  top: 66px;
  z-index: 1;
  background: rgba(255,255,255,.9);
  border-bottom: 3px solid rgba(0,0,0,.025)
}

@media (min-width: 1200px) {
  .sticky-container-title {
    font-size: 48px;
    letter-spacing: 11px;
  }
}

.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.center-cropped {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 80%;
  margin: 10px;
  border: 5px solid white;
}

.center-cropped .profile-picture {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.clickable {
  cursor: pointer;
}

.profile-name {
  font-size: 18px;
  color: black;
  font-weight: 800;
  margin-bottom: 5px;
}

.profile-position {
  color: grey;
  margin-bottom: 5px;
}

.previous-position {
  font-style: italic;
  color: rgb(206, 53, 97);
  margin-bottom: 5px;
}

.leadership-row td {
  padding: 5px 10px;
}

.leadership-year {
  color: black;
  font-style: italic;
}

.leadership-title {
  color: rgb(206, 53, 97);
}

.leadership-recipient {
  color: black;
}

.brotherhood-section {
  background-color: rgba(0,0,0,.024) !important;
}

.brotherhood-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.brotherhood-list-item {
  padding: 10px 5px;
}

.brotherhood-item {
  color: black;
  padding: 10px 10px !important;
  font-size: 16px;
  cursor: pointer;
  background: white;
  border-radius: 8px;
  white-space: nowrap;
}

.brotherhood-item:hover {
  color: rgb(206, 53, 97);
}
