<div class="wrapper">
  <div class="scroll-up-btn" (click)="scrollTop()">
    <i class="fa fa-arrow-up"></i>
  </div>

  <div class="exec-section">
    <h2 class="sticky-container-title">Leadership</h2>
    <div class="row section">
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let exec of executives"
      >
        <div class="profile-container">
          <div
            [ngClass]="exec.url ? 'clickable' : 'not-clickable'"
            (click)="openUrl(exec.url)"
            class="center-cropped"
          >
            <img
              [src]="exec.img"
              class="profile-picture"
              [alt]="exec.name + (exec.url ? ' LinkedIn' : '')"
              [title]="exec.name + (exec.url ? ' LinkedIn' : '')"
            />
          </div>
          <p class="profile-name">{{ exec.name }}</p>
          <p class="profile-position" *ngIf="exec.position">
            {{ exec.position }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="sticky-container-title">Brothers of 2018</h2>
    <div class="section">
      <div class="subsection">
        <img
          class="img-fluid photo"
          src="https://farm5.staticflickr.com/4808/46619241131_ad1071eec3_h.jpg"
          alt="2017-2018 Phi Kappa Psi Composite"
          title="2017-2018 Phi Kappa Psi Composite"
        />
      </div>
    </div>
  </div>
  <div class="leader-section">
    <h2 class="sticky-container-title">Campus Involvement</h2>
    <div class="section">
      <table class="leader-table subsection">
        <tr class="leader-row" *ngFor="let leader of leaders">
          <td
            class="leader-year"
            *ngIf="getYear() - 2 <= leader.year || showAllOnCampus"
          >
            {{ leader.year }}
          </td>
          <td
            class="leader-title"
            *ngIf="getYear() - 2 <= leader.year || showAllOnCampus"
          >
            {{ leader.title }}
          </td>
          <td
            class="leader-recipient"
            *ngIf="getYear() - 2 <= leader.year || showAllOnCampus"
          >
            {{ leader.name }}
          </td>
        </tr>
      </table>
      <div
        class="showall-container"
        (click)="toggleShowAllOnCampus()"
      >
        <button class="btn showall-btn">
          {{ showAllOnCampusText }}
        </button>
      </div>
    </div>
  </div>
  <div>
    <h2 class="sticky-container-title">Brotherhood</h2>
    <div class="second-row row brotherhood-section section">
      <div class="col-sm-6">
        <img
          class="photo img-fluid"
          src="https://farm2.staticflickr.com/1888/29647008067_f5ba0456db_c.jpg"
          alt="Big Bear Brotherhood Spring 2018"
          title="Big Bear Brotherhood Spring 2018"
        />
      </div>
      <div class="col-sm-6">
        <img
          class="photo img-fluid"
          src="https://farm2.staticflickr.com/1884/44585066461_646e55990d_c.jpg"
          alt="Big Bear Brotherhood Winter 2017"
          title="Big Bear Brotherhood Winter 2017"
        />
      </div>
    </div>
    <div class="section brotherhood-section row">
      <ul class="brotherhood-container">
        <div
          class="brotherhood-list-item"
          *ngFor="let brotherhood of brotherhoods"
        >
          <li class="col brotherhood-item">{{ brotherhood }}</li>
        </div>
      </ul>
    </div>
    <div class="third-row row section brotherhood-section">
      <div class="col-sm-3">
        <img
          class="photo img-fluid"
          src="https://farm2.staticflickr.com/1842/43675735165_0ac6778852_c.jpg"
          alt="Mitchell Zarro at Big Bear Brotherhood Spring 2018"
          title="Mitchell Zarro at Big Bear Brotherhood Spring 2018"
        />
      </div>
      <div class="col-sm-6">
        <img
          class="photo img-fluid"
          src="https://farm2.staticflickr.com/1868/30714771838_ac02790a08_c.jpg"
          alt="Beta Iota hiking trip"
          title="Beta Iota hiking trip"
        />
      </div>
      <div class="col-sm-3">
        <img
          class="photo img-fluid"
          src="https://farm2.staticflickr.com/1897/43866730704_ee2ba3a8cd_c.jpg"
          alt="Big Bear Brotherhood Spring 2018"
          title="Big Bear Brotherhood Spring 2018"
        />
      </div>
    </div>
  </div>
</div>
