<div class="wrapper">
  <div id="scroll-up-btn" (click)="scrollTop()"><i class="fa fa-arrow-up"></i></div>
  <div>
    <h2 class="sticky-container-title">Phi Psi 500</h2>
    <div class="section">
      <div class="small-section">
        <p class="description">Every year, Phi Psi teams up with the local
          <a target="_blank" href="https://www.boysandgirlsclub.com/about-us/contact-us/47-media-coverage/128-boys-girls-club-of-santa-ana-breaks-ground-on-teen-center.html">
            Santa Ana Boys & Girls Club
          </a>
          to host Phi Psi 500 outdoors at the Anteater Recreation Center. It includes a cotton candy, face paint, bouncy houses, catered food, sports, and a full day of fun in the sun. We booth on Ring Road and the Student Center to gather donations throughout the week.
          <a target="_blank" href="https://www.facebook.com/events/2158857054326658/">Last year</a>,
          we made an additional donation of over $3,000 to the Boys & Girls Club.
        </p>
      </div>
      <div class="row small-section">
          <div class="col-sm-6">
              <img src="https://farm8.staticflickr.com/7856/39718165493_de7381d081_c.jpg"
                  class="photo img-fluid"
                  alt="Phi Psi 500 David De La Pena and kids"
                  title="Phi Psi 500 David De La Pena and kids"/>
            </div>
        <div class="col-sm-6">
          <img src="https://farm2.staticflickr.com/1890/29501116177_65073b35d9_c.jpg"
            class="photo img-fluid"
            alt="Phi Psi 500 Fun Bouncy House"
            title="Phi Psi 500 Fun Bouncy House"/>
        </div>
      </div>
      <app-bulletin></app-bulletin>
    </div>
  </div>
  <div>
    <h2 class="sticky-container-title">Service Immersion Trip</h2>
    <div class="section">
      <div class="small-section">
        <p class="description">
            Denver (April 1, 2019) – Phi Kappa Psi Brother <a href="https://www.linkedin.com/in/kevinnorgaard/" target="_blank">Kevin Norgaard</a> '17 was one of 30 members who participated
            in the Fraternity’s inaugural <a href="https://www.phikappapsi.com/programs/service-immersion-trips/" target="_blank">Service Immersion Trip</a> to Denver, Colorado March 24-30.
            Service Immersion Trips give undergraduate members a once-in-a-lifetime opportunity to travel to a major
            city to break out of their comfort zones, immerse themselves in a new culture, and participate in a series
            of hands-on service projects with local nonprofits. The trips are led by Phi Kappa Psi alumni, volunteers
            and staff members who want to make a difference in a young person’s life.
            “The Service Immersion Trip offer attendees a transformative cultural experience by learning about
            history of the community, the stories of the local people, and other aspects of the city’s culture and its
            influencers,” said <a href="https://www.linkedin.com/in/kyleahickman/" target="_blank">Kyle Hickman</a>, senior director of member development for Phi Kappa Psi. “This trip
            definitely instills a deeper commitment to service by helping our younger brothers understand how much
            they can impact a community through their own personal efforts.”
            Throughout the week, the Service Immersion Trips challenge attendees to explore the tough concepts of
            social identity and privilege. They also were taught how to analyze the roles that social identities play in
            their own interpersonal relationships and lives, and they learned how their experiences differ from their
            peers. Attendees also were asked to recognize how privilege affects communities, and how it can be
            used to serve others. This reflection prompted many conversations on how members can make positive
            differences through service, philanthropy, and advocacy work in their own respective communities.
        </p>
        <p class="description">
          "For a week during spring break, twelve Brothers and I flew from all around the nation to explore the complexity of poverty in Denver. We cleared out a weeks' worth of inventory for <a href="https://www.metrocaring.org/" target="_blank">Metro Caring</a> and <a href="https://www.foodbankrockies.org/" target="_blank">Food Bank of the Rockies</a>, visited an affordable housing apartment complex to paint the walls white, and pack lunches with positive notes for the homeless. I can attest that by working with local organizations including <a href="https://unitedwaydenver.org/" target="_blank">United Way</a> and <a href="https://hopecommunities.org/" target="_blank">Hope Communities</a>, we experienced the sincerity of local organizations first-hand, studied the complexity of the problem of poverty, and reflected on how we can become servant leaders for our own community."
        </p>
      </div>
      <div class="row small-section bottom-section">
        <div class="col-sm-4">
          <img src="https://farm8.staticflickr.com/7847/46796179284_9532c3e455_b.jpg"
            class="photo img-fluid"
            alt="Hope Communities Hidden Brook Apartments"
            title="Hope Communities Hidden Brook Apartments"/>
        </div>
        <div class="col-sm-4">
          <img src="https://farm8.staticflickr.com/7915/46796179294_0097f31ac8_b.jpg"
            class="photo img-fluid"
            alt="Food Bank of the Rockies"
            title="Food Bank of the Rockies"/>
        </div>
        <div class="col-sm-4">
          <img src="https://farm8.staticflickr.com/7926/40553949993_1d6b314a87_b.jpg"
            class="photo img-fluid"
            alt="Lunches for the homeless at United Way"
            title="Lunches for the homeless at United Way"/>
        </div>
      </div>
      <div class="row small-section bottom-section">
        <div class="col-sm-6">
          <img src="https://farm8.staticflickr.com/7924/33643081578_5f0ebe04e6_b.jpg"
            class="photo img-fluid"
            alt="Metro Caring food bank"
            title="Metro Caring food bank"/>
        </div>
        <div class="col-sm-6">
          <img src="https://farm8.staticflickr.com/7892/40553949943_8c0b554cf9_b.jpg"
            class="photo img-fluid"
            alt="Hope Communities Hidden Brook Apartments painting"
            title="Hope Communities Hidden Brook Apartments painting"/>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="sticky-container-title">FRESH Basic Needs</h2>
    <div class="section">
      <div class="small-section">
        <p class="description">45% of UCI students report to be experiencing food insecurity and 5% report to be experiencing housing insecurity. Phi Kappa Psi volunteers year-round at the <a target="_blank" href="http://basicneeds.uci.edu/get-resources/food-pantry.php">FRESH Food Pantry</a> to help fight basic needs insecurity. We understand that meeting the basic needs of our community greatly impacts our mental and physical health, academic performance, work productivity, and overall success.</p>
      </div>
      <div class="row small-section">
        <div class="col-sm-6">
          <img src="https://farm5.staticflickr.com/4884/44777414330_0128a4a6f1_c.jpg"
            class="photo img-fluid"
            alt="Fresh Basic Needs Food Pantry group photo"
            title="Fresh Basic Needs Food Pantry group photo"/>
        </div>
        <div class="col-sm-6">
          <img src="https://farm8.staticflickr.com/7836/44777414910_ee50207ffb_c.jpg"
            class="photo img-fluid"
            alt="Fresh Basic Needs Food Pantry cart"
            title="Fresh Basic Needs Food Pantry cart"/>
        </div>
      </div>
      <div class="row small-section bottom-section">
        <div class="col-sm-6">
          <img src="https://farm5.staticflickr.com/4822/46543341182_fd064b5f12_c.jpg"
            class="photo img-fluid"
            alt="Fresh Basic Needs Food Pantry truck"
            title="Fresh Basic Needs Food Pantry truck"/>
        </div>
        <div class="col-sm-6">
          <img src="https://farm5.staticflickr.com/4853/44777415820_45004c4824_c.jpg"
            class="photo img-fluid"
            alt="Fresh Basic Needs Food Pantry group photo"
            title="Fresh Basic Needs Food Pantry group photo"/>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="sticky-container-title">One Walk</h2>
    <div class="section">
      <div class="small-section">
        <p class="description">In support of <a target="_blank" href="https://www2.jdrf.org/site/Donation2?19984.donation=form1&df_id=19984&utm_source=google&utm_medium=cpc&utm_campaign=190101_PrimaryDonation&utm_content=paid&s_src=google_cpc&s_subsrc=190101_PrimaryDonation_8_paid_evergreen&gclid=EAIaIQobChMIv-n4-tTh3wIVhEVpCh0ZtQzdEAAYASAAEgK0Y_D_BwE">JDRF</a> and their efforts to find a cure for type 1 diabetes, we participate in the annual <a target="_blank" href="https://www2.jdrf.org/site/SPageServer?pagename=walk_homepage">One Walk</a> in Anaheim, help setup the tracks, and donate to the diabetes research foundation. Phi Kappa Psi Cal Kappa has proudly supported JDRF and participated in the JDRF One Walk for the past 5 years.</p>
      </div>
      <div class="row small-section">
        <div class="col-sm-6">
          <img src="https://farm2.staticflickr.com/1854/44408934542_da09d9a44d_c.jpg"
            class="photo img-fluid"
            alt="JDRF One Walk group photo"
            title="JDRF One Walk group photo"/>
        </div>
        <div class="col-sm-6">
          <img src="https://farm2.staticflickr.com/1852/42649444490_c6b5f198f8_c.jpg"
            class="photo img-fluid"
            alt="JDRF One Walk group photo"
            title="JDRF One Walk group photo"/>
        </div>
      </div>
    </div>
  </div>
  <div class="subsection">
    <p class="slogan">The Great Joy of Serving Others</p>
  </div>
</div>
