.wrapper {
  position: relative;
  width: 100%;
}

#buy-shirts {
  font-size: 24px;
  width: 100%;
  text-align: center;
  display: block !important;
}

p {
  margin: 0;
}

a {
  color: rgb(206, 53, 97);
}

.fa {
  -webkit-text-stroke-width: .1vw;
  font-size: 5vw;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0,0,0,.025) !important;
  padding: 10px;
}

.subsection {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

.bottom-section {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.small-section {
  max-width: 800px;
  margin: 0 auto;
}

.description {
  padding: 20px;
  font-size: 16px;
  background: white;
}

.slogan {
  margin: 30px 0;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 800;
  color: black;
}

.col-sm-6 {
  padding: 0 !important;
}

.col-sm-4 {
  padding: 0 !important;
}

.instagram-media {
  margin: 30px auto !important;
}

@media (min-width: 1200px) {
  .slogan {
    font-size: 25px;
    letter-spacing: 3px;
  }
}
